body {
   background-color: burlywood;
}

.container {
   max-width: 650px;
}

h1.title {
   text-align: center;
   margin-bottom: 1.5em;
}

.action-buttons {
   display: flex;
   width: 85%;
   justify-content: space-evenly;
   margin: 0 auto;
}

.attempts {
   display: flex;
   width: 50%;
   justify-content: space-evenly;
   margin: 0 auto;
}

.attempt-container {
   perspective: 1000px;
   border: 1px solid black;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   transform-style: preserve-3d;
}

.attempt, .result {
   backface-visibility: hidden;
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.attempt {
   display: inline-block;
   padding: 9px 0;
   text-align: center;
}

.result {
   transform: rotateY(180deg);
}

.rotate-attempt {
   transform: rotateY(180deg);
   transition: transform 1s;
}

.wrong {
   background-color: #dc3545;
}

.correct {
   background-color: #198754;
}

.description {
   margin: 0 auto;
   display: flex;
   flex-flow: column;
}

.description > span {
   font-weight: 500;
   margin-right:6%;
   margin-bottom: 3%;
   width: fit-content;
}

.description > span:hover {
   text-decoration: underline;
   opacity: .6;
   cursor: pointer;
}

.input-container {
   display: flex;
   justify-content: center;
}

.btn-primary {
   margin-left: 1em;
}

.output-container {
   text-align: center;
}

.output-container h1 {
   height: 41px;
}

@keyframes fade-in {
   from { opacity: 0;}
   to {opacity: 100;}
}

@keyframes fade-out {
   from { opacity: 100;}
   to {opacity: 0;}
}

.fade-in-output {
   animation-name: fade-in;
   animation-duration: .5s;
}

.fade-in-result {
   animation-name: fade-in;
   animation-duration: 5s;
}

.hidden-output {
   opacity: 0;
}

.fade-out {
   animation-name: fade-out;
   animation-duration: 2s;
}

.error-message {
   opacity: 0;
}

/*********************/
/* How To Play Modal */
/*********************/
.modal-container {
   width: 100%;
   height: 100vh;
   position: absolute;
   background: rgba(14, 13, 14, 0.67);
   top: 0;
}

.modal-wrapper {
   width: 75%;
   color: #010101;
   border: 1px solid #010101;
   background-color: #efefef;
   margin: 5% auto;
   border-radius: 10px;
   padding: 5% 8%;
}

.modal-wrapper section ul li {
   font-size:.9em;
}

.display-none {
   display: none;
}

.show-modal {
   animation-name: fade-in;
   animation-duration: .25s;
}

.hide-modal {
   animation-name: fade-out;
   transition: opacity .25s;
}

.close-modal {
   width: 35px;
   height: 35px;
   display: block;
   float: right;
}

.close-modal:hover {
   cursor: pointer;
   opacity: .4;
}

.fa-xmark {
   width: 35px;
   height: 35px;
   display: inline-block;
   background-repeat: no-repeat;
   background-image: url(../assets/svg/xmark-solid.svg);
}

.instruction-section > p {
   font-style: italic;
}

.red-text, .green-text {
   font-weight: 800;
}

.red-text {
   color:#dc3545;
}

.green-text {
   color:#198754;
}

.scoring-details {
   margin-left: 5%;
}

.coming-soon-ul {
   padding-left: 0;
   list-style-type: none;
}

/*********************/
/* Plays Left Section */
/*********************/
.plays {
   display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.plays > .word {
   width: 3em;
   height: 3em;
   border: 1px dashed #010101;
   border-radius: 15%;
   display: inherit;
   margin-bottom: 10px;
   align-items: center;
   justify-content: space-around;
   font-size: 3vh;
}

@keyframes fade-in-fade-out {
   from {
      opacity: 1
   }

   25% {
      opacity: .35
   }

   50% {
      opacity: .5
   }

   75% {
      opacity: .35
   }

   to {
      opacity: 1
   }
}

.at-play {
   animation-name: fade-in-fade-out;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.solved, .not-solved {
   animation-name: fade-in;
   animation-duration: .5s
}

.solved {
   background-color: #198754;
   border:1px solid #198754;
}

.not-solved {
   background-color: #dc3545;
   border:1px solid #dc3545
}

@keyframes slide-up {
   from { height: 0px }
   to { height: 18rem }
}

.final-score-wrapper {
   bottom: 0;
   margin: initial;
   position: absolute;
   width: 100%;
   border-radius: 75px 75px 0 0;
   animation: slide-up;
   animation-duration: 1s;
   padding: 5% 8% 0 8%;
}

.final-score h1 {
   margin-top:1em;
   text-align: center;
}

.final-score ul {
   margin-top: 2em;
   padding-left: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
}

div.modal-wrapper.final-score-wrapper section.final-score div ul li {
   /* font-size: 1.1em; */
   text-align: center;
}

div.modal-wrapper.final-score-wrapper section.final-score div ul li span {
   display: block;
   width: 4em;
   text-align: center;
   font-size: 1.5em;
   height: 4em;
   border-radius: 50%;
   border: 5px solid green;
   padding: 24%;
   margin-top: 0.5em;
}
