body {
   /* background-color: cadetblue; */
   background-color: burlywood;
}

.container {
   max-width: 650px;
}

h1.title {
   text-align: center;
   margin-bottom: 1.5em;
}

.action-buttons {
   display: flex;
   width: 85%;
   justify-content: space-evenly;
   margin: 0 auto;
}

.attempts {
   display: flex;
   width: 50%;
   justify-content: space-evenly;
   margin: 0 auto;
}

.attempt-container {
   perspective: 1000px;
   border: 1px solid black;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   transform-style: preserve-3d;
}

.attempt, .result {
   backface-visibility: hidden;
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.attempt {
   display: inline-block;
   padding: 9px 0;
   text-align: center;
}

.result {
   transform: rotateY(180deg);
}

.rotate-attempt {
   transform: rotateY(180deg);
   transition: transform 1s;
}

.wrong {
   background-color: #dc3545;
}

.correct {
   background-color: #198754;
}

.description {
   margin: 0 auto;
   display: flex;
   flex-flow: column;
}

.description > span {
   font-size: .8em;
   align-self: flex-end;
   margin-right:6%;
   margin-bottom: 3%;
   width: fit-content;
}

.description > span:hover {
   text-decoration: underline;
   opacity: .6;
   cursor: pointer;
}

.input-container {
   display: flex;
   justify-content: center;
}

.btn-primary {
   margin-left: 1em;
}

.output-container {
   text-align: center;
}

@keyframes fade-in {
   from { opacity: 0;}
   to {opacity: 100;}
}

@keyframes fade-out {
   from { opacity: 100;}
   to {opacity: 0;}
}

.fade-in-output {
   animation-name: fade-in;
   animation-duration: .5s;
}

.fade-in-result {
   animation-name: fade-in;
   animation-duration: 5s;
}

.hidden-output {
   opacity: 0;
}

.fade-out {
   animation-name: fade-out;
   animation-duration: 2s;
}

.error-message {
   opacity: 0;
}

.instruction-modal {
   width: 100%;
   height: 100vh;
   position: absolute;
   background: rgba(14, 13, 14, 0.67);
   top: 0;
}

.modal-wrapper {
   width: 75%;
   color: #010101;
   border: 1px solid #010101;
   background-color: #efefef;
   margin: 5% auto;
   border-radius: 10px;
   padding: 5% 8%;
}

.modal-wrapper section ul li {
   font-size:.9em;
}

.display-none {
   display: none;
}

.show-modal {
   animation-name: fade-in;
   animation-duration: .25s;
}

.hide-modal {
   animation-name: fade-out;
   transition: opacity .25s;
}

.close-modal {
   width: 35px;
   height: 35px;
   display: block;
   float: right;
}

.close-modal:hover {
   cursor: pointer;
   opacity: .4;
}

.fa-xmark {
   width: 35px;
   height: 35px;
   display: inline-block;
   background-repeat: no-repeat;
   background-image: url(../assets/svg/xmark-solid.svg);
}

.instruction-section > p {
   font-style: italic;
}

.red-text, .green-text {
   font-weight: 800;
}

.red-text {
   color:#dc3545;
}

.green-text {
   color:#198754;
}

.coming-soon-ul > li {
   list-style-type: none;
}
